<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрација члана</title>
     	
    <link rel="stylesheet" type="text/css" th:href="@{/form.css}">
 	
</head>
<body>

<br><br>


<div class="form-container">
	<form  action=# th:action="@{/clanovi/find}" th:object="${clanDTO}" method="POST">
	
	        <label >Име:</label>
	        <input type="text" th:field="*{ime}" >
			
	        
	        <label >Презиме:</label>
	        <input type="text" th:field="*{prezime}" >
	        
	        
	    
	    
	    <input type="submit" value="Претрага">
	    
	     	
	</form>
</div>

    
      <br><br>
      
    



</body>
</html>
