<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Чланаринa</title>
    
   <link rel="stylesheet" type="text/css" th:href="@{/form.css}">

    
</head>
<body>
 
<div class="form-container" th:if="${updateForm}">
	<form action=# th:action="@{/clanarina/save}" th:object="${clanarina}" method="POST">
	     
	     	<input type="hidden" th:field="*{clanarina_id}" />
	  
	     	<label >Месец:</label>
	        <input type="text" th:field="*{naziv}" required>
	     	
	     	
	        <label >Месец:</label>
	        <input type="text" th:field="*{mesec}" required>
	        
	        <label >Година:</label>
	        <input type="text" th:field="*{godina}" >
	
	        <label >Цена:</label>
	        <input type="number" th:field="*{cena}" >
	        
	        
	          
	         <input type="submit" value="Додај">
	        
	</form>
</div>


<div class="form-container" th:if="${addForm}">
	<form action=# th:action="@{/clanarina/save}" th:object="${clanarina}" method="POST">
	     
	     	<input type="hidden" th:field="*{clanarina_id}" />
	  
	     	<label>Ansambl:</label>
		       	 <select id="ansambl" style="margin-right: 30px;" th:field="*{naziv}">
		            <option th:each="ansambl : ${ansamblLista}" th:value="${ansambl.naziv}" th:text="${ansambl.naziv}"></option>
		     </select>
	     	
	     	
	        <label >Месец:</label>
	        <input type="text" th:field="*{mesec}" required>
	        
	        <label >Година:</label>
	        <input type="text" th:field="*{godina}" >
	
	        <label >Цена:</label>
	        <input type="number" th:field="*{cena}" >
	        
	        
	          
	         <input type="submit" value="Додај">
	        
	</form>
</div>

</body>
</html>
