<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Улоге</title>
    
    <link rel="stylesheet" type="text/css" th:href="@{/form.css}">
    
</head>
<body>

<di>
<h2>Додељивање улоге</h2>
</div>

<div class="form-container">
	<form action=# th:action="@{/uloge/save}" th:object="${uloge}" method="POST">
	    <label >Корисничко име:</label>
	    <input type="text" th:field="*{username}" maxlength="128" required>
	
	
	    <label>Улога</label>
	    <input type="text" th:field="*{uloga}" maxlength="50" required>
	
	
	    <input type="submit" value="Додели улогу">
	</form>
</div>

</body>
</html>
