<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Почетна страница</title>
    
    <link rel="stylesheet" type="text/css" th:href="@{/showList.css}">
    
</head>
<body>

    <script>
        window.history.pushState({}, "", "/home");
    </script>

    
    <div class="menu">
        <h1> КУД Светозар Марковић </h1>

        <a th:href="@{clanarina/list}">Чланарине</a>
        
        <a th:href="@{proba/list}">Пробе</a>
        
        
   
        
        <div class="dropdown">
            <button class="dropbtn">Ансамбли</button>
            <div class="dropdown-content">
                <a th:href="@{ansambl/list}">Регистрација</a>
                <a th:href="@{ansambl/probe}">Пробе</a>
                <a th:href="@{ansambl/clanovi}">Чланови</a>
            </div>
        </div>
        
        <a th:href="@{koreografija/list}">Кореографије</a>

        <div class="dropdown">
            <button class="dropbtn">Чланови</button>
            <div class="dropdown-content">
                <a th:href="@{clanovi/registration}">Регистрација</a>
                <a th:href="@{uloge/role}">Ауторизација</a>
                <a th:href="@{clanovi/list}">Преглед</a>
            </div>
        </div>
        
        
        <form action="#" th:action="@{/logout}" method="POST">
            <input type="submit" value="Одјава" class="logout-btn" />
        </form>
    </div>
</body>
</html>
