<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кореографије</title>
    
    <link rel="stylesheet" type="text/css" th:href="@{/showList.css}">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    
</head>
<body>
	
	
	<div class="menu">
        <h1> КУД Светозар Марковић </h1>

        
        <a th:href="@{home}">Почетна</a>    

        
    </div>

	<a id="addButton" th:href=@{/koreografija/showForm} >
		Додај кореографију
	</a>
	 
	
	<table class="table table-bordered table-striped">
		<thead >
			<tr>
				<th>Назив</th>
				<th>Број парова</th>
				<th>Трајање</th>
				<th>Број момака</th>
				<th>Број девојака</th>			
				<th>Акције</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="tempKoreografija : ${koreografije}">
				<td th:text="${tempKoreografija.naziv}"/>
				<td th:text="${tempKoreografija.broj_parova}"/>
				<td th:text="${tempKoreografija.trajanje}"/>
				<td th:text="${tempKoreografija.broj_momaka}"/>
				<td th:text="${tempKoreografija.broj_devojaka}"/>
				
				
				
				<td>
					<a class="btn btn-info btn-sm"
					 th:href="@{/koreografija/showFormForUpdate(koreografija_id=${tempKoreografija.koreografija_id})}"				
					 > Ажурирај </a>
				 	<a class="btn btn-danger btn-sm"
				 	th:href="@{/koreografija/delete(koreografija_id=${tempKoreografija.koreografija_id})}"> 
				 	Обриши </a>
				</td>
			</tr>
		</tbody>
	</table>
   

</form>
</body>
</html>
