<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кореографија</title>
    
	<link rel="stylesheet" type="text/css" th:href="@{/form.css}">
    
</head>
<body>

<div class="form-container">
	  <form action=# th:action="@{/koreografija/save}" th:object="${koreografija}" method="POST">
	     
	     	
	     	<input type="hidden" th:field="*{koreografija_id}" />
	     	
	        <label>Назив:</label>
	        <input type="text" th:field="*{naziv}" required>
	        
	        <label>Број парова:</label>
	        <input type="text" th:field="*{broj_parova}" required>
	        
	        <label>Трајање:</label>
	        <input type="text" th:field="*{trajanje}" required>
	        
	        <label>Број момака:</label>
	        <input type="text" th:field="*{broj_momaka}" required>
	        
	        <label>Број девојака:</label>
	        <input type="text" th:field="*{broj_devojaka}" required>
	        
	        
	      
	          
	         <input type="submit" value="Додај">
	              
	</form>
</div>

</body>
</html>
