<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кореографије</title>
    
    <link rel="stylesheet" type="text/css" th:href="@{/showList.css}">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    
</head>
<body>
	
	
	<div class="menu">
        <h1> КУД Светозар Марковић </h1>

        
        <a th:href="@{home}">Почетна</a>    

        
    </div>
	 
	 
	 <br><br>
	
	<table style="width: 90vw;" class="table table-bordered table-striped">
		<thead >
			<tr>
				<th>Пол</th>
				<th>Област</th>
				<th>Део тела</th>
				<th>Величина</th>
				<th>Ознака</th>			
			</tr>
		</thead>
		<tbody>
			<tr th:each="tempNosnja : ${nosnjaList}">
				<td th:text="${tempNosnja.pol}"/>
				<td th:text="${tempNosnja.oblast}"/>
				<td th:text="${tempNosnja.deo_tela}"/>
				<td th:text="${tempNosnja.velicina}"/>
				<td th:text="${tempNosnja.oznaka}"/>
				
			</tr>
		</tbody>
	</table>
   

</form>
</body>
</html>
